
.ipynb_checkpoints/1-python-basics-checkpoint.ipynb

.ipynb_checkpoints/4-matplotlib-checkpoint.ipynb

.ipynb_checkpoints/2-numpy-checkpoint.ipynb

.ipynb_checkpoints/0-Notebook-checkpoint.ipynb

.ipynb_checkpoints/3-pandas-checkpoint.ipynb

Machine-Learning/.ipynb_checkpoints/simple-linear-regression-checkpoint.ipynb
